#foodlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#foodlist div {
  border:1px solid red;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-basis: 23%;
  box-sizing: border-box;
  flex-direction: column;
  margin: 1px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

